<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KMeans</title>
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold mb-6 text-center">Latent Semantic Analysis (LSA) Search Engine</h1>
    
        <div class="flex flex-col md:flex-row justify-center items-center mb-6">
            <input id="num_points" type="text" class="border border-gray-300 rounded-md px-4 py-2 md:mr-4">
            <button id="gen-data" class="bg-[#ED5443] text-white font-bold py-2 px-6 rounded-md hover:bg-[#A02E21]">
                Search
            </button>
        </div>
    <script src="static/script.js"></script>
</body>