<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LSA Search Engine</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold mb-6 text-center">Latent Semantic Analysis (LSA) Search Engine</h1>
    
        <div class="flex flex-col md:flex-row justify-center items-center mb-6">
            <form id="search-form">
                <input type="text" id="query" placeholder="Enter search query" required>
                <button type="submit">Search</button>
            </form>
        </div>
        
    
        <div id="results"></div>
        <canvas id="similarity-chart"></canvas>

    <script src="static/script.js"></script>
</body>